.about
  font-size inherit

colorLightest = #E7E7E9
colorLight = #AEA8B4
colorMedium = #996071
colorDark = #6E3A51
colorDarkest = #473948
 

.masonryColumn
  float left

.project
  width 85%
  background colorLightest      
  border-radius 10px
  margin 0 auto 20px
  padding 15px
  box-shadow #ccc 8px 8px 9px

  transition 0.5s

  &:hover
    background colorDark
    box-shadow transparent 8px 8px 9px
    transition 0.5s

    .projectInfo
      color colorLightest
      transition color 0.5s

.projectHeroPhoto
  width 100%
  border-radius 10px

.projectInfo
  text-align center
  padding-top 15px
  color colorDark

  transition 0.5s   